# NetBeans or Eclipse project folder
netbeans-project
eclipse-project

# class and txt files
*.class
*.txt

# anything inside src that isn't a .java file
src/*
!src/ast
src/ast/*
!src/comp
src/comp/*
!src/lexer
src/lexer/*
!*.java