# NetBeans project folder
netbeans-project

# class files
*.class

# anything inside src that isn't a .ci or .java file
src/*
!src/test-files
!src/ast
src/ast/*
!src/comp
src/comp/*
!src/lexer
src/lexer/*
!*.java